<div id="home_content">
	This site contains data about the public schools in the State of Michigan.  The data is based on the 
	2008-2009 school year.  
	<br/><br/>
	You can browse the schools through the:
	<ul>
		<li>
			<%= link_to 'Schools', '/schools' %> page which provides a list of all of the public schools 
			in Michigan 
		</li>
		<li>
			<%= link_to 'Districts', '/school_districts' %> page which provides you a list of all the school
			districts allowing you to narrow your list of schools
		</li>
		<li>
			<%= link_to 'Counties', '/counties' %> page which lets you select from a list of state counties 
			to view schools in.
		</li>
	</ul>
</div>